<h1>Add new course for Chatbots.Studio team</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter the title"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
    <label for="price">Course price(in hours)</label>
    <span class="helper-text" data-error="Enter price in hours"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter the url of the picture"></span>
  </div>
  <div class="input-field">
    <input id="review" name="review" type="text" class="validate" required value="{{data.review}}">
    <label for="review">Course description</label>
    <span class="helper-text" data-error="Enter the title"></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary">Add course</button>
</form>